h1,h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

header {
  padding: .5rem 2rem;
  width: 100%;
  background: #fdfdfd;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 1rem;
}

header .title {
  font-size: 2rem;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1rem;
  position: relative;
  width: 100%
}

@media(min-width: 480px) {
  .container {
    padding: 0 2.0rem;
  }
}

select {
  width: auto;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-success {
  color: #234e52;
  background-color: #e6fffa;
  border-color: #38b2ac;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.manage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.manage-header > * {
  margin: 0;
}

a[type="button"] {
  background: #5680cc;
  color: white;
  line-height: 2.3;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 2rem;
}

.manage-header a[type="button"] {
  font-size: 2.5rem;
  line-height: 1.3;
}

table {
  width: 100%;
}

.text-center {
  text-align: center;
}

.manage-users .deactivate {
  color: #a94442;
  font-weight: bold;
}

.manage-users .activate {
  color: #234e52;
  font-weight: bold;
}

.thin-nav-link {
  font-weight: 300;
  color: #595959;
  margin-left: .5rem;
  opacity: .75;
}

.thin-nav-link:hover {
  color: #959595;
}